*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#container{
    
    height: 400px;
    width: 800px;
    margin: 5rem auto 0;
    background-color: blue;
}
.icon{
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 3rem;
}
.btnContainer{
    margin: 2rem auto;
    text-align: center;
}
.nonActive{
    display: none;
}